#tit{   background: none !important;
	color: #fff;
	font-size: 15px;
	border-bottom: 2px solid #fff;
	font-weight: 600;
}
#padd{
	    padding-bottom: 0px;
}
.demo7 ul li{
	text-align: justify;
	margin-left: 0px;
	
}
.marg{
	    width: 60%;
    margin-top: 4%;
    float: right
}
p{
    text-align: justify;
}
#topsearch{
	    margin: 0;
    line-height: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
}
#menuitem{
background-image: url('http://slsh.edu.in/assets/images/hand.png');
background-repeat: no-repeat;
padding-left: 38px;
}
#eventbox{
	box-shadow: 2px 3px 0px #000;
    border-width: 3px 0px 0px 3px;
    border-color: #D8424C;
     border-style: solid;
}
#colorboxx{
	    box-shadow: 2px 3px 0px #000;
    border-width: 3px 0px 0px 3px;
    border-color: #fff;
    border-style: solid;
}
#newstitil{
	background: none !important;
	color: #000;
	font-size: 15px;
	border-bottom: 2px solid #000;
	font-weight: 600;
}
.aboutop{
	margin-top: 9%;
}
.bannerimg{
	width:100%;
	height: 250px;
	background: linear-gradient(0deg, rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)), url(../../img/inner-banner.jpg) no-repeat;
	background-size: cover;
 }
 .academics{
    width:100%;
    height: 250px;
    background: linear-gradient(0deg, rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)), url(../../img/ac-msc.jpg) no-repeat;
    background-size: cover;
 }
 .admission{
    width:100%;
    height: 250px;
    background: linear-gradient(0deg, rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)), url(../../img/admission-banner.jpg) no-repeat;
    background-size: cover;
 }
 .contact{
    width:100%;
    height: 250px;
    background: linear-gradient(0deg, rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)), url(../../img/contact-banner.jpg) no-repeat;
    background-size: cover;
 }
 .projectimg{
    width:100%;
    height: 250px;
    background: linear-gradient(0deg, rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)), url(../../img/banner-back.jpg) no-repeat;
    background-size: cover;
 }
 .placement{
    width:100%;
    height: 250px;
    background: linear-gradient(0deg, rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)), url(../../img/placement-banner.jpg) no-repeat;
    background-size: cover;
 }
 .alumni{
    width:100%;
    height: 250px;
    background: linear-gradient(0deg, rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)), url(../../img/alumni-banner.jpg) no-repeat;
    background-size: cover;
 }
 .gallary{
    width:100%;
    height: 250px;
    background: linear-gradient(0deg, rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)), url(../../img/gallery-banner.jpg) no-repeat;
    background-size: cover;
 }
 .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
 	color: #fff;
     background-color: #fff; 
}
.liborder{
	border-left: 3px solid #ab2629;
}
.menutop{
	margin: 2% 0 2%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #b02429;
    background-color: #fff;
}
.menutitle{
	padding-left: 1%;
	margin: 2% 0 2%;
	border-left: 3px solid #ab2629;
}
a:active, a:hover, a:focus {
    color: #b0221e;
}
#Overview p{
	text-align: justify;
}
#tabs {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.contentheading {
    color: #ba0000;
    font-size: 26px;
    font-weight: normal;
    padding: 10px 0 1px 0;
   /* border-bottom: solid 1px #b4b4b4;*/
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #ae2723;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.slidemenu a{
    color: #ffffff;
}
.colordiv{
  color:#b22629;
}
.sempattern{
    border: solid 1px gray;
    border-top: solid 1px #fff;
    margin-bottom: 5px;
}
.acamargin{
    margin: 3% 0 3%; 
}
.msc{
    min-height: 210px;
}
